@import './mixin.scss';
@import './variable.scss';


.mo-vew-main {
    padding: 73px 0;
    width: 90vw;
    margin: 0 auto;
    .main-h2 {
        font-size: 1.5rem;
        padding-bottom: 40px;
    }
    .list-days {
        display: flex;
        color: #8D8D8D;
    }
    .main-top-h3 {
        @include flexCenter(center);
        gap: 10px;
        font-weight: 600;
        font-size: 1rem;
        img{
            width: 1.75rem;
        }
    }
    .list-main {
        .list-main-left{
            padding-bottom: 60px
        }
        .list-main-top {
            @include flexCenter(space-between);
            padding: 10px 0;
            border-bottom: 1.5px solid #1F1F1F;
        }
        .list-main-middle {
            padding: 10px 0 50px;
            p {
                font-size: .9rem;
                line-height: 2rem;
                font-weight: 200;
            }
        }
        .list-main-bottom {
            h3 {
                font-size: 1rem;
                padding-bottom: 20px;
                line-height: 1.25rem;
            }
            .list-main-more {
                a {
                    padding: 20px;
                    display: block;
                }
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            }
            .more-sum-main {
                .more-sum{
                    max-width: 400px;
                    margin: 0 auto;
                }
                .more-sum img{
                    width: 100%;
                }
                border-radius: 5px;
                .more-title {
                    font-size: 1.125rem;
                    padding: 10px 0;
                    font-weight: 500;
                }
                .more-text {
                    font-size: .8rem;
                    font-weight: 200;
                    color: #333;
                    line-height: 1.25rem;
                }
                .more-bottom {
                    text-align: right;
                    font-size: .8rem;
                    color: #8D8D8D;
                    padding-top: 10px;
                }
            }
        }
        .list-main-right {
            >ul{
                @include column-flexbox($jc:start);
                gap: .875rem;
            }
            .right-card-box{
                width: 100%;
                margin: 0 auto;
                border-radius: 1.25rem;
            }
            .main-right-card{          
                h3{
                    @include column-flexbox;
                    gap: 20px;
                    span:last-child{
                        font-size: 1.56rem;
                        font-weight: 700;
                    }
                }
                .card-list{
                    @include column-flexbox;
                    padding: 30px 0;
                    gap: 10px;
                    >li:nth-child(3){
                        width: 100%;
                        text-align: center
                    }
                    .card-list-second{
                        @include flexCenter(center);
                        gap: 26px;
                        height: 107px;
                        button{
                            border: none;
                            background: none;
                            @include column-flexbox($jc: space-between);
                            height: 55px;
                            cursor: pointer;
                            p{
                                font-size: 1.125rem;
                                color: $color-black;
                                font-weight: 600;
                            }
                        }
                    }
                    .navi-list{
                        width: 100%;
                        @include flexCenter(space-between);
                        li{
                            width: 100%;
                        }
                        a{  
                            display: block;
                            width: 100%;
                            position: relative;
                            color: #8C8C8C;
                            height: 42px;
                            line-height: 42px;
                            &::after{
                                @include pseudo('', 1px, 20px);
                                @include position(absolute, $top: 50%, $right: 0);
                                background: $color-gray;
                                transform: translateY(-50%);
                            }
                        }
                        li:last-child a::after{display: none;}
                    }
                    .share-btn{
                        background: #F3F6FD;
                        width: 100%;
                        a{
                            @include flexCenter(center);
                            height: 39px;
                            width: 100%;
                        }
                    }
                }
            }
            >ul>li:first-child ~ li{
                width: 100%;
                margin: 0 auto;
                button{
                    width: 100%;
                    border: none;
                    height: 42px;
                    font-size: 1rem;
                    font-weight: 600;
                    border-radius: 5px;
                    cursor: pointer;
                    &.edit-btn{
                        background: $color-black;
                        color: $color-white;
                        border: 1px solid $color-gray-dark;
                    }
                    &.delete-btn{
                        background: $color-sky;
                        color: $color-black;
                        border: 1px solid #ABC2F6;
                    }
                }
            } 
        }
    }
}
