@import './mixin.scss';
@import './variable.scss';

.mo-write-main {
    width: 90vw;
    margin: 0 auto;
    padding: 40px 0;
    h2 {
        @include flexCenter(start);
        gap: 10px;
        font-size: 1.25rem;
        padding-bottom: 17px;
        img{
            width: 1.5rem;
        }
    }
    .write-list {
        @include column-flexbox();
        gap: 32px;
        li {
            @include column-flexbox($ai: start);
            width: 100%;
            gap: 10px;
            label,.write-txt {
                font-size: 0.88rem;
                font-weight: 600;
            }
            input[type=text] {
                width: 100%;
                height: 50px;
                border-radius: 6px;
                border: 1px solid $color-sky-gray;
                text-indent: 12px;
                font-size: 14px;
                &:focus {
                    outline: none;
                    border: 1px solid $color-main;
                }
            }
            .write-hashtag-box {
                @include flexCenter(start);
                width: calc(100% - 12px);
                height: 52px;
                border-radius: 6px;
                border: 1px solid $color-sky-gray;
                padding-left: 12px;
                gap: 4px;
                input[type=text] {
                    border: none;
                    &:focus {
                        border: none;
                    }
                    text-indent: 0;
                }
                &.on {
                    border: 1px solid $color-main;
                }
                .tag-item{
                    background: $color-main-bg;
                    color: $color-main;
                    padding: 8px 12px;
                    border-radius: 20px;
                    font-size: 0.75rem;
                    font-weight: 500;
                }
            }
            #content{
                width: 100%;
                .toastui-editor-defaultUI {
                    border-radius: 6px;
                    overflow: hidden;
                    &.on{
                        border: 1px solid $color-main;
                    }
                }
            }
            .btn-box{
                border-top: 1px solid $color-sky-gray;
                width: 100%;
                @include flexCenter(space-between);
                padding-top: 32px;
                button{
                    width: 105px;
                    height: 38px;
                    background: none;
                    font-size: 1rem;
                    border: none;
                    font-weight: 500;
                    border-radius: 8px;
                    transition: .3s;
                    &.return{
                        border: 1px solid $color-gray-dark;
                        color: $color-gray-dark;
                    }
                    &.submit{
                        border: 1px solid $color-main;
                        color: $color-white;
                        background: $color-main;
                    }
                }
            }
        }
    }
}